<% layout("/layouts/boilerplate") %>
<body>
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input type="text" value="<%= listing.title %>" name="listing[title]">
        <br><br>
        <textarea rows="7" cols="40" name="listing[description]"><%= listing.description %></textarea>
        <br><br>
        <input type="text" value="<%= listing.image.url %>" name="listing[image]">
        <br><br>
        <input type="number" value="<%= listing.price %>" name="listing[price]">
        <br><br>
        <input type="text" value="<%= listing.location %>" name="listing[location]">
        <br><br>
        <input type="text" value="<%= listing.country %>" name="listing[country]">
        <br><br>
        <button>Edit</button>
    </form>
</body>
